@media (max-width: 1024px) {
  .container {
    max-width: 904px;
  }

  .main_text {
    max-width: 660px;
  }

  .team_card {
    max-width: 260px;
  }

  .team_card img {
    max-width: 260px;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 648px;
  }

  .header {
    display: block;
  }

  .head_left {
    display: none;
  }

  .head_left_hidden {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .nav_ul {
    justify-content: flex-start;
  }

  .main_text {
    max-width: 648px;
  }

  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer_flex {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 315px;
  }

  .header {
    display: none;
  }

  .second_mob_head{
    display: flex;
    align-items: center;
    height: 72px;
  }

  .head_logo {
    width: 70px;
    height: 28px;;
  }

  .slash{
    width: 12px;
    height: 26px;
    margin: 0 4px;
  }

  .page_name{
    font-size: 20px;
  }

  .lawcompany{
    width: 75px;
    height: 5px;
  }

  .flex_head {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .mobile_header {
    display: block;
    width: 100vw;
  }

  .main_text_section {
    margin-top: 30px;
    margin-bottom: 30px;
}

  .main_text {
    max-width: 315px;
    font-size: 30px;
  }

  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .team_card img {
    max-width: 315px;
    height: 300px;
    object-fit: cover;
  }

  .footer_stroke {
    display: block;
    text-align: center;
  }
  
  .facebook_stroke{
    display: block;
    text-align: center;
  }

  .circle{
    visibility: hidden;
  }
}

