* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(70, 77, 96);
  color: beige;
}
nav ul {
  list-style: none;
}
nav a {
  display: block;
  text-decoration: none;
}
.topmenu {
  background: rgba(134, 189, 228, 0.8);
}
.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li > a {
  height: 70px;
  line-height: 70px;
  padding: 0 40px;
  font-weight: bold;
  color: #382a3e;
}

.topmenu li a:hover {
  color: #ecdbdb;
}

.submenu {
  background: rgba(134, 189, 228, 0.8);
  border: 1px solid #db6dc3;
  position: absolute;
  left: 0;
  display: none;
  width: 100%;
}

.topmenu > li:hover .submenu {
  display: block;
}

.submenu > li {
  position: relative;
}

.submenu li a {
  color: #382a3e;
  line-height: 36px;
  padding: 0 25px;
}

.submenu2 {
  background: rgba(134, 189, 228, 0.8);
  border: 1px solid #db6dc3;
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
  width: 100%;
}

.submenu > li:hover .submenu2 {
  display: block;
}

.nav-menu li:hover {
  background-color: #8355d2;
}
